#rabbit {
    position: fixed;
    bottom: 10%;
    /* left: 50%; */
    transform: translate(-50%,0);
    /* background: white; */
    /* border: 1px solid red; */
    width: 20%;
    max-width: 75px;
    height: 20%;
    max-height: 165px;
    z-index: 998;
}