#rabbit {
    position: fixed;
    bottom: 10%;
    /* left: 50%; */
    transform: translate(-50%,0);
    /* background: white; */
    border: 1px solid red;
    width: 10vw;
    max-width: 75px;
    height: 15vw;
    max-height: 100px;
    z-index: 998;
}